## Código para generar una tabla por estación y por contaminante seleccionado.

 Los valores de calidad del aire ya están filtrados según estos contaminantes:
 - 01 -- Dióxido de Azufre (SO2)
 - 08 -- Dióxido de Nitrógeno (NO2)
 - 14 -- Ozono (O3)

In [1]:
#estaciones de calidad de la AEMET
#|3195 Retiro (667m)—> 28079049(662m)
estaciones_AEMET_ciudad=['3195']

#estaciones de calidad del Ayuntamiento de Madrid
#28079004 Pl España
#28079008 Es Aguirre
#28079049 Retiro
#28079050 Pl Castilla
estaciones_calidad_activas=[28079004,28079008,28079049,28079050]

#estaciones de tráfico
#3491 M30
#6809 M30
#4451 Castellana
#4138 Atocha
estaciones_trafico=[3491,6809,4451,4138]

#contaminantes elegidos
contaminantes=[1,8,14]

Leemos el archivo de tráfico:

In [1]:
import pandas as pd
trafico = pd.read_csv('traficoUnificado.csv', sep=",", header=0)
print(trafico.index.size)
trafico.head()

398101

     id       fecha intensidad
0  1001  2014-01-01        744
1  1001  2014-01-02       1560
2  1001  2014-01-03       2847
3  1001  2014-01-04       1532
4  1001  2014-01-05       1548

Código a eliminar en la versión definitiva:

In [3]:
#trafico['Date']=0
#for i in range(0,len(trafico)):
#    trafico.iloc[i,5]='20'+str(trafico.iloc[i,0])+'-'+str(trafico.iloc[i,1])+'-'+str(trafico.iloc[i,2])

#trafico['Year']=0
#for i in range(0,len(trafico)):
#    trafico.iloc[i,6]='20'+str(trafico.iloc[i,0])

Las líneas de código de AEMET comentadas son líneas necesarias inicialmente para darle el formato deseado:
- quitar columnas
- añadir año, mes, día para hacer las consultas de unión
- convertir el tipo de dato de algunas columnas

A añadir en los notebooks de AEMET y eliminar de este notebook. Aquí el archivo de AEMET que lee ya está modificado

In [4]:
import pandas as pd
aemetMadrid = pd.read_csv('aemetMadrid.csv', sep=",", header=0)
#aemetMadrid = aemetMadrid[['altitud','dir','fecha','horaracha','horatmax','horatmin','indicativo','prec','presMax','presMin','racha']]
#print(aemetMadrid.index.size)
#aemetMadrid=aemetMadrid.dropna(how='any')
#print(aemetMadrid.index.size)
aemetMadrid.head()

,altitud,dir,fecha,horaracha,horatmax,horatmin,indicativo,prec,presMax,presMin,racha,AÑO,MES,DIA
0,1030,99.0,2010-01-13,00:10,04:00,05:20,3110C,"3,9","892,7","879,5","11,9",10,1,13
1,1030,30.0,2010-01-15,00:10,14:30,08:00,3110C,"0,6","901,7","894,2","15,6",10,1,15
2,1030,99.0,2010-01-16,Varias,15:00,01:40,3110C,"0,5","901,7","898,7","2,8",10,1,16
3,1030,5.0,2010-01-17,16:10,16:00,Varias,3110C,"0,8","901,4","899,5","2,8",10,1,17
4,1030,26.0,2010-01-18,09:30,15:30,08:00,3110C,"0,0","900,3","895,3","2,5",10,1,18

In [5]:
#aemetMadrid['AÑO']=0
#aemetMadrid['MES']=0
#aemetMadrid['DIA']=0
#aemetMadrid['AÑO'] = aemetMadrid['AÑO'].astype('int')
#aemetMadrid['MES'] = aemetMadrid['MES'].astype('int')
#aemetMadrid['DIA'] = aemetMadrid['DIA'].astype('int')
#for i in range(0,len(aemetMadrid)):
#    aemetMadrid.iloc[i,11]=aemetMadrid.iloc[i,2][2:4]
#    aemetMadrid.iloc[i,12]=aemetMadrid.iloc[i,2][5:7]
#    aemetMadrid.iloc[i,13]=aemetMadrid.iloc[i,2][8:10]
#aemetMadrid.head()

In [6]:
#aemetMadrid.to_csv('aemetMadrid.csv', sep=',', encoding='utf-8', index=False)

In [7]:
#aemetMadrid['AÑO'] = aemetMadrid['AÑO'].astype('int')
#aemetMadrid['MES'] = aemetMadrid['MES'].astype('int')
#aemetMadrid['DIA'] = aemetMadrid['DIA'].astype('int')

Vamos a considerar sólo una estación para dar los valores climátológicos a todas las filas (la 3195 del Retiro).

In [8]:
aemetMadrid=aemetMadrid.loc[aemetMadrid['indicativo'] == '3195']
print(aemetMadrid.index.size)
aemetMadrid.head()

3095

,altitud,dir,fecha,horaracha,horatmax,horatmin,indicativo,prec,presMax,presMin,racha,AÑO,MES,DIA
15193,667,26.0,2010-01-01,13:20,12:30,Varias,3195,"0,1","938,5","928,5","16,1",10,1,1
15194,667,27.0,2010-01-02,01:00,15:10,03:40,3195,"0,0","942,8","938,5","5,8",10,1,2
15195,667,16.0,2010-01-03,15:20,13:20,02:30,3195,"6,7","941,6","936,4","5,3",10,1,3
15196,667,4.0,2010-01-04,06:20,17:10,Varias,3195,"9,5","936,4","924,2","6,7",10,1,4
15197,667,31.0,2010-01-05,21:30,14:50,23:59,3195,"0,0","926,0","922,6","5,3",10,1,5

Los valores de calidad comienzan en el 2010. El año 2010 lo hemos omitido por unos problemas a la hora de juntarlos con el resto y, principalmente , los datos de AEMET y tráfico comienzan en 2013, por lo que los años anteriores no los vamos a usar.

In [9]:
#vemos los datos de calidad del aire y eliminamos valores NA's
import pandas as pd
#calidad = pd.read_csv('datosCalidadfiltrados24h.csv', sep=",", header=0, index_col=0)
calidad = pd.read_csv('datosCalidadUnificado24h.csv', sep=",", header=0)
#reemplazamos los valores 2018 y 2017 para los futuros merge
#calidad['AÑO']=calidad['AÑO'].replace(2018, 18)
#calidad['AÑO']=calidad['AÑO'].replace(2017, 17)
print(calidad.index.size)
calidad.head()

316779

,ESTACION,MAGNITUD,TECNICA,HORARIO,AÑO,MES,DIA,H1,H2,H3,...,H15,H16,H17,H18,H19,H20,H21,H22,H23,H24
0,28079004,1,38,2,11,1,1,6.0,6.0,5.0,...,12.0,10.0,9.0,9.0,10.0,8.0,8.0,7.0,6.0,6.0
1,28079004,1,38,2,11,1,2,6.0,8.0,7.0,...,11.0,9.0,9.0,11.0,12.0,12.0,14.0,14.0,12.0,11.0
2,28079004,1,38,2,11,1,3,8.0,7.0,6.0,...,14.0,13.0,10.0,11.0,10.0,9.0,11.0,9.0,8.0,7.0
3,28079004,1,38,2,11,1,4,6.0,7.0,6.0,...,7.0,6.0,6.0,7.0,7.0,8.0,8.0,7.0,7.0,6.0
4,28079004,1,38,2,11,1,5,5.0,5.0,5.0,...,8.0,8.0,9.0,9.0,8.0,8.0,8.0,8.0,9.0,8.0

In [10]:
#for estacion in estaciones_calidad:
#    for contaminante in contaminantes:
#        tabla_LSTM=calidad[(calidad['MAGNITUD']==contaminante) & (calidad['ESTACION']==estacion)]
#tabla_LSTM.head()
#calidad=calidad.loc[calidad['MAGNITUD'] == 1]
#calidad=calidad.loc[calidad['ESTACION'] == 28079057]
#print(calidad.index.size)
#calidad.head()

Función para poner los 24 valores horarios por filas:

In [11]:
def formatotabla_LSTM(calidad):
    global df0
    df0 = pd.DataFrame(columns=['ESTACION','CONTAMINANTE','AÑO','MES','DIA','HORA','VALOR'])
    df0['ESTACION'] = df0['ESTACION'].astype('str')
    df0['CONTAMINANTE'] = df0['CONTAMINANTE'].astype('str')
    df0['AÑO'] = df0['AÑO'].astype('int')
    df0['MES'] = df0['MES'].astype('int')
    df0['DIA'] = df0['DIA'].astype('int')
    df0['HORA'] = pd.to_numeric(df0['HORA'], errors='coerce').fillna(0)
    df0['VALOR'] = df0['VALOR'].astype('float64')
    df0.dtypes
    t=0
    for i in range(0,len(calidad)):
        estacion=calidad.iloc[i,0]
        contaminante=calidad.iloc[i,1]
        anho=calidad.iloc[i,4]
        mes=calidad.iloc[i,5]
        dia=calidad.iloc[i,6]
        hora=1
        for j in range(7,31):
            valor=calidad.iloc[i,j]
            linea = [str(estacion), str(contaminante), int(anho), int(mes), int(dia),int(hora),valor]
            df0.loc[t] = linea
            hora=hora+1
            t=t+1
    #print(df0.index.size)
    df0.head()
    #df0.to_csv('salida/stat_'+str(estacion)+'_cont'+str(contaminante)+'.csv', sep=',', encoding='utf-8', index=False)

In [ ]:
for estacion in estaciones_calidad_activas:
    for contaminante in contaminantes:
        calidad_filtrado=calidad[(calidad['MAGNITUD']==contaminante) & (calidad['ESTACION']==estacion)]
        formatotabla_LSTM(calidad_filtrado)
        tabla_LSTM=pd.merge(df0, trafico, how='inner', on=['AÑO','MES','DIA','HORA'])
        tabla_LSTM2=pd.merge(tabla_LSTM, aemetMadrid, how='inner', on=['AÑO','MES','DIA'])
        tabla_LSTM2.to_csv('salida/stat_'+str(estacion)+'_cont'+str(contaminante)+'.csv', sep=',', encoding='utf-8', index=False)

In [21]:
#eliminamos todos los archivos en el directorio LSTM
#import os, shutil
#folder = 'salida/'
#for the_file in os.listdir(folder):
#    file_path = os.path.join(folder, the_file)
#    try:
#        if os.path.isfile(file_path):
#            os.unlink(file_path)
#        #elif os.path.isdir(file_path): shutil.rmtree(file_path)
#    except Exception as e:
#        print(e)